<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
  <body>
    <h1>Welcome to the Quiz App</h1>
    <p>This is the home page.</p>

<div>
  <a href="/signup">Sign Up</a> |
  <a href="/login">Login</a> |
  <a href="/quiz-selection">Take a Quiz</a>
</div>
<footer>
  <p>© <%= new Date().getFullYear() %> Quiz App | Built with Node.js & EJS</p>
</footer>

  </body>
</html>